@model LMSWeb.ViewModel.TblUserViewModel
<style>
    .optionClass {
        background-color: lightgray;
    }
</style>
@*<div id="dvmanageuser">*@
    <h1>Manage user 1</h1>
    
@*</div>*@

@*</div>*@