<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.5.1.24" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.5.3.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net461" />
</packages>