@model List<LMSBL.DBModels.CRMNew.EnquiryListing>
@{
    ViewBag.Title = "Enquiry";
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
}
<link href="~/assets/CRM/styleSteps.css" rel="stylesheet" />
<div class="row" style="float:right; margin-right:50px;">
    @if (ViewBag.StageForButton == 1)
    {
        <button class="btn btn-primary js-btn-prev" type="button" title="Prev"><a href="@Url.Action("AddEnquiry", "CRMUsers")">Add Enquiry</a></button>
    }
    else if (ViewBag.StageForButton == 2)
    {
        <button class="btn btn-primary js-btn-prev" type="button" title="Prev"><a href="@Url.Action("AddPotentialClient", "CRMUsers")">Add Potential Client</a></button>
    }
    else if (ViewBag.StageForButton == 3)
    {
        <button class="btn btn-primary js-btn-prev" type="button" title="Prev"><a href="@Url.Action("AddClient", "CRMUsers")">Add Client</a></button>
    }
</div>

<div id="dvActivityData">

    @Html.Partial("~/Views/CRMUsers/_EnquiryList.cshtml", Model)
</div>
<script>
    function MoveClient(id, stage, currentstage) {
        var txtMessage = "Do you want to move User to Potential Client!";
        if (stage == 3) {
            txtMessage="Do you want to move User to Client!"
        }
        if (stage == 1) {
            txtMessage="Do you want to move User to Inquiry!"
        }
        Swal.fire({
            title: 'Are you sure?',
            text: txtMessage,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ok!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "/CRMUsers/MoveUser",
                    data: '{id: "' + id + '",stage: "' + stage + '",currentstage: "' + currentstage + '" }',
                    //data: '{fDate: "' + fDate + '",tDate: "' + tDate + '",ReportName: "LearningCompletionReport" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        toastr.success("Successfully moved to Potential Client");
                        $('#dvActivityData').html(response);
                    },
                    failure: function (response) {
                    },
                    error: function (response) {
                        toastr.success("Successfully moved to Potential Client");
                        $('#dvActivityData').html(response.responseText);
                    }
                });

            }
            else {

            }
        })
    }
</script>