@model LMSBL.DBModels.TblUser
@{
    Layout = null;
    
    var logo = "../assets/images/rt_logo.png";
    if (!string.IsNullOrEmpty(Convert.ToString(Session["Logo"])))
    {
        logo = Convert.ToString(Session["Logo"]);
    }
}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Reset Password</title>
        <link rel="icon" href="~/assets/images/favicon.ico" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="~/CSS/style.css" />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="~/assets/SweetAlert.js"></script>

    </head>
<div class="container-fluid" style="background-image: url('../assets/BodyImages/appbg.jpeg'); background-repeat: inherit repeat;">
    <div class="row justify-content-center h-100">
        <div class="col align-self-center login-section" style="border-radius:50px;box-shadow:3px 3px 3px 3px lightgray;">
            <div class="mt-5 text-center">
                <img src="@logo" width="55%" height="16%">
            </div>
            @using (Html.BeginForm("SendResetLink", "Login", FormMethod.Post, new { enctype = "multipart/form-data", @class = "text-center mt-4" }))
            {
                if (!string.IsNullOrEmpty(Convert.ToString(TempData["Message"])))
                {
                    <div id="dvMessage" style="color:red; margin-bottom:10px;">@TempData["Message"]</div>
                    <button type="button" onclick="location.href='@Url.Action("Index", "Login")';return false;" class="btn btn-primary fp-submit-btn"><img src="~/assets/images/check-img.png" /> Back</button>
                }
                else
                {
                    <h2 class="fp-label mt-3 ml-5">Forgot Password</h2>
                    <p class="fp-text ml-5">Enter your registered email id, we will send you password reset instruction</p>
                    <form class="text-center mt-4">
                        @*<input class="input100" type="text" name="email" placeholder="Email ID">*@
                        @Html.TextBoxFor(model => model.EmailId, new { @class = "input100", placeholder = "Email ID" })
                        <div class="mt-3">
                            <button type="submit" onclick="return CheckRequired();" class="btn btn-primary fp-submit-btn"><img src="~/assets/images/check-img.png" /> Submit</button>
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function CheckRequired() {
        if ($("#EmailId").val() == "") {
            Swal.fire("Please enter valid Email Id");
            return false;
        }
        return true;
    }
</script>

